@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --red: #800a18;
  /* --gold: #f5ba31; */
  --gold: #ffd700;
  --black: #191A19;
  --gray: #a1a1aa;
  --white: #FFFFFF;
  --offWhite: #e0e0e0;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: Epilogue ,Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  overflow-x: clip;
}

/* This fixes shifting content when modal opens */
body {
  padding-right: 0 !important;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .component-card {
    @apply flex flex-col items-center rounded-xl bg-white transition-all duration-300 m-6 shadow-2xl
  }

  .component-container {
    @apply flex flex-grow w-full items-center justify-center p-10 min-w-[230px] max-w-[300px] rounded-xl leading-normal
  }

  .card {
    @apply flex items-center justify-center w-full cursor-pointer h-40
  }

  .edit-group {
    @apply my-4 w-full flex flex-col mx-2
  }

  .edit-group-header {
    @apply text-xl font-medium border-b border-black flex justify-between items-end text-black
  }

  .edit-label {
    @apply w-1/4 opacity-70 capitalize
  }
}

@layer utilities {
  .logo-gradient {
    background: rgb(219,40,58);
    background: linear-gradient(180deg, rgba(219,40,58,1) 40%, rgba(217,188,125,1) 80%, rgba(25,26,25,1) 91%);
    background-clip: text;
  }
}

/* Line Animations */
.continuous-line {
  background: linear-gradient(currentColor 0 0) var(--d, 201%) 100% /200% 1.5px no-repeat;
  transition: 0.5s;
  width: fit-content;
}
.continuous-line:hover {
  --d: -101%;
}

/* Shine Button Animation */
.shine {
  position: relative;
  overflow: hidden;
  transition: all 100ms linear;
}
.shine::after {
  content: "";
  top: -50%;
  display: block;
  width: 40%;
  height: 200%;
  left: -55%;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  transform: rotate(25deg);
  transition: 0.5s;
}
.shine:hover::after {
  left: 120%;
}
